<form action="/ingreso" method="post">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input type="text" id="inputNombre" class="form-control" />
        </div>
    </div>
</form>