
<div class="container mt-5">
    <h1>Bienvenido al sitio web loco</h1>
    <table>
        <tr>
            <th>Nombres</th>
        </tr>
        {{#each element}}
        <tr>
            <td>{{nombre}}</td>
        </tr>
        {{/each}}
    </table>
</div>